*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* DEBUG */

.navbar.debug .row{
    background-color: red;
}

.navbar.debug{
    background-color: aquamarine;
}

.navbar.debug .row{
    background-color: blueviolet;
}

.navbar.debug .logo, .navbar .login{
    background-color: green;
}

.navbar.debug .navbar-nav{
    background-color: orange;
}


.cta.debug  .row{
    background-color: blue;
}

.cta.debug {
    background-color: crimson;
}

.cta.debug .row .cta-container{
    min-height: 500px;
    background-color: bisque;
}

.debug .col-img{
    background-color: brown;
    height: 50px;
}

.debug .col-text{
    background-color:darkolivegreen;
    height: 50px;
}


/* END DEBUG */


/* GLOBAL ROW AND COLUMNS */

.v-spacing{
    padding: 50px 0px;
}

.row{
    display: flex;
    width: 1170px;
    margin: auto;
}

.col-img{
    width: 60%;
}

.col-text{
    width: 40%;
}


/* NAVBAR */

.navbar{
    background-color: aquamarine;
    padding: 10px;
}

.navbar .row{
    justify-content: space-between;
    background-color: blueviolet;
}

.navbar .logo, .navbar .login{
    width: 20%;
    background-color: green;
}

.navbar .navbar-nav{
    width: 60%;
    text-align: center;
    background-color: orange;
}

.navbar-nav ul{
    list-style-type: none;
}

.navbar-nav ul li{
    display: inline-block;
}

/* CALL TO ACTION */


.cta .row{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cta .row .cta-container{
    width: 70%;
}


/* 2-COL SECTION */




/* 1-COL SECTION */