*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* DEBUG */

.navbar.debug .row{
    background-color: red;
    height: 50px;
}

.navbar.debug{
    background-color: aquamarine;
}

.navbar.debug .row{
    background-color: blueviolet;
}

.navbar.debug .logo, .navbar .login{
    background-color: green;
}

.navbar.debug .navbar-nav{
    background-color: orange;
}


.cta.debug {
    background-color: crimson;
}

.cta.debug .row .cta-container{
    min-height: 500px;
    background-color: bisque;
}


.debug .col-4x{
    background-color: brown;
    min-height: 100px;
    border: 1px dashed black;
}

.debug .col-2x{
    background-color:darkolivegreen;
    min-height: 100px;
    border: 1px dashed black;
}

.debug .col-1x{
    background-color: greenyellow;
    min-height: 100px;
    border: 1px dashed black;
}


section .debug{
    height: 400px;
}

.block-row.debug{
    background-color: gray;
    height: 600px;
}


/* END DEBUG */


/* GLOBAL ROW AND COLUMNS */

.v-spacing{
    padding: 50px 0px;
}

.block-row{
    width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    width: 1170px;
    margin: auto;
}


.col-1x{
    width: calc(100% / 6);
}

.col-2x{
    width: calc(100% / 6 * 2);
}

.col-4x{
    width: calc(100% / 6 * 4);
}

/* NAVBAR */

.navbar{
    padding: 10px;
}

.navbar .row{
    justify-content: space-between;
    align-items: center;
}

.navbar .logo, .navbar .login{
    width: 20%;
}

.navbar .navbar-nav{
    width: 60%;
    text-align: center;
    background-color: orange;
}

.navbar-nav ul{
    list-style-type: none;
}

.navbar-nav ul li{
    display: inline-block;
}

/* CALL TO ACTION */


.cta .row{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cta .row .cta-container{
    width: 70%;
}


/* FOOTER */

footer{
    padding: 20px;
}

.footer-bottom .row{
    border-top: 1px solid red;
    margin-top: 20px;
    margin-bottom: 40px;
    justify-content: space-between;
}